# Lab List

# Q1

In [12]:
n = int(input())
s =list()
for i in range(0,n):
    m =int(input())
    s.append(m)
result = 0
i=0
while i<n:
    result = result+s[i]
    i+=1
print(result)

4
4
8
6
0
18

# Q2

In [15]:
n = input().split()
s =n[::-1]
print(s)
print(type(s))

hello am nikhil
['nikhil', 'am', 'hello']
<class 'list'>

# Q3

In [32]:
list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]
result = list(filter(None,list1))
print(result)

['Mike', 'Emma', 'Kelly', 'Brad']

# Q4

In [1]:
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
list1[2][2].insert(2, 7000)
print(list1)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

# Q5

In [39]:
list1 = [5, 10, 15, 20, 25, 50, 20]
target = list1.index(20)
list1[target]=200
print(list1)

[5, 10, 15, 200, 25, 50, 20]

# Q6

In [43]:
n = int(input())
s =list()
for i in range(0,n):
    m =int(input())
    s.append(m)
x =max(s)
y =min(s)
print(s)
print("maximum number and minimum number in the list are ",x,y,"respectively")

3
4
5
7
[4, 5, 7]
maximum number and minimum number in the list are  7 4 respectively

# Q7

In [47]:
n = int(input())
s =list()
for i in range(0,n):
    m =int(input())
    s.append(m)
for i in s:
    x = s.count(i)
    print("the number ",i,"is repeated",x,"times")

3
1
3
3
the number  1 is repeated 1 times
the number  3 is repeated 2 times
the number  3 is repeated 2 times

# Q8

In [2]:
list_1 = [4,4,5,6,7,2]
s= int(input("enter a number:"))
num =int(input(f'Please enter the index between 0 and {len(list_1) - 1} to add the number:\n'))
list_1.insert(num,s)
print(list_1)

enter a number:9
Please enter the index between 0 and 5 to add the number:
3
[4, 4, 5, 9, 6, 7, 2]