In [1]:
x = 4
y = 2.65
z = "hello"
print(x,y,z)
print(type(x),type(y),type(z))

4 2.65 hello
<class 'int'> <class 'float'> <class 'str'>

# type_casting

In [6]:
a = float(x)
b = int(y)
print(type(a),type(b))

<class 'float'> <class 'int'>

## commenting

In [7]:
# hello

In [10]:
'''a = float(x)
b = int(y)
print(type(a),type(b)) '''

'a = float(x)\nb = int(y)\nprint(type(a),type(b))'

# user Input

In [13]:
x= input("enter your name")
y=int (input("enter your age"))
print("my name is " + x+ " and my age is",y)

enter your namenikhil
enter your age21
my name is nikhil and my age is 21

In [1]:
x="nikhil james"
y=len(x)
print(y)

12

# STRING SLICING

In [2]:
#negative indexing
A=x[-2]
print(A)

e

**NOTE:**
string[start:end:step]

In [6]:
x="nikhil james"
A=x[0:12:3]
print(A)

nh m

In [7]:
a=x[::-1]
print(a)

semaj lihkin

In [8]:
b=x[:2]
c=x[7:]
print(b,c)

ni james

# CONCATENATION

In [11]:
A="Nikhil"
B="James"
print(A+" "+B)

Nikhil James

string methods

In [14]:
y="abc".isalpha()
print(y)

True

In [17]:
my_string="apple,banana,cherry"
fruits =my_string.split(",")
print(fruits)
fruitsnew=" ".join(fruits)
print(fruitsnew)

['apple', 'banana', 'cherry']
apple banana cherry

string formatting

In [18]:
name="NIKHIL"
AGE=21
print("my name is %s and my age is %d" %(name,AGE))

my name is NIKHIL and my age is 21

In [23]:
print(f"my name is {name} and my age is {AGE}.")

my name is NIKHIL and my age is 21.

In [24]:
print("my name is {} and my age is {}" .format(name,AGE))

my name is NIKHIL and my age is 21

In [25]:
height= 167.67986
print("my name is {} and my height is {:0.2f}" .format(name,height))

my name is NIKHIL and my height is 167.68

# list

In [1]:
my_list =["apple","banana","cherry"]
print(my_list)

['apple', 'banana', 'cherry']

In [2]:
print(type(my_list))

<class 'list'>

In [3]:
my_list.append("orange")
print(my_list)

['apple', 'banana', 'cherry', 'orange']

In [4]:
my_list.insert(0,"nuts")
print(my_list)

['nuts', 'apple', 'banana', 'cherry', 'orange']

In [6]:
my_list[2] = "grapes"
print(my_list)

['nuts', 'apple', 'grapes', 'cherry', 'orange']

In [10]:
my_list[2:3] = ["papaya","melon"]
print(my_list)

['nuts', 'apple', 'papaya', 'melon', 'melon', 'melon', 'melon', 'cherry', 'orange']

In [13]:
my_list.remove("melon")
print(my_list)

['nuts', 'apple', 'papaya', 'melon', 'cherry', 'orange']

In [14]:
my_list.pop()
print(my_list)

['nuts', 'apple', 'papaya', 'melon', 'cherry']

In [15]:
del my_list[2]
print(my_list)

['nuts', 'apple', 'melon', 'cherry']

In [19]:
N = ["list1","list2"]
def my_list():
    N = ["list1"]
    print(N)
result = my_list()
print(result)
print(N)

['list1']
None
['list1', 'list2']

# NESTED LIST

In [22]:
X = [1,2,3,4 [5,6,3,2,5] 2,0,2,4,5,3,2]
print(X.count(5))

3

In [23]:
X[2:8] = [1,4,2,5,3,6,7,2]
print(X)

[1, 2, 1, 4, 2, 5, 3, 6, 7, 2, 5, 2, 0, 2, 4, 5, 3, 2]

In [28]:
X = [5,3,9,1,7]
X[0],X[-1]= X[-1],X[0]
print(X)

[7, 3, 9, 1, 5]

In [35]:
X = [5,3,9,1,7]
X.sort()
print(X[-3])

5

# Tuples

In [36]:
x = ("apple","banana","cherry")
y = list(x)
y.append("mango")
x = tuple(y)
print(x)

('apple', 'banana', 'cherry', 'mango')

In [39]:
z = ("melon",)
x += z
print(x)

('apple', 'banana', 'cherry', 'mango', 'melon')

# unpacking tuples

In [43]:
a,*b,c = x
print(b)
print(a)
print(c)

['banana', 'cherry', 'mango']
apple
melon

# set

In [52]:
x = set()
x.add("bmw")
print(x)

{'bmw'}

In [53]:
y = {"benz"}
x.update(y)
print(x)

{'bmw', 'benz'}

In [54]:
x.remove("bmw")
print(x)

{'benz'}

In [56]:
x.discard("benz")
print(x)

set()

In [61]:
x = {1,2,3}
y = {3,4,5}
print(x.union(y))
print(x.intersection(y))
print(x.difference(y))
print(x.symmetric_difference(y))

{1, 2, 3, 4, 5}
{3}
{1, 2}
{1, 2, 4, 5}

# for loop

In [2]:

for x in "banana":
    print(x)

b
a
n
a
n
a

In [9]:
x = ["apple","banana","cherry","mango"]
for i in x:
    if i == "banana":
        break
    print(i)

apple

In [10]:
x = ["apple","banana","cherry","mango"]
for i in x:
    if i == "banana":
        continue
    print(i)

apple
cherry
mango

In [11]:
for i in range (10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [12]:
for i in range (3,11):
    print(i)

3
4
5
6
7
8
9
10

In [14]:
for i in range(3,7,2):
    print(i)

3
5

In [15]:
for i in range(6):
    print(i)
else:
    print("finally finised")

0
1
2
3
4
5
finally finised

In [16]:
for x in range (3):
    for y in range(4,7):
        print(x,y)

0 4
0 5
0 6
1 4
1 5
1 6
2 4
2 5
2 6

In [25]:
x = input().split(" ")

2 3 4 5
['2', '3', '4', '5']

In [26]:
for x in range(9,19):
    for y in range(2,x):
        if x%y==0:
            break
    else:
        print(x,"is a prime number")

11 is a prime number
13 is a prime number
17 is a prime number

In [28]:
n = int (input())
for i in range(1,11):
    p=n*i
    print("%d x %d = %d"%(n,i,p))

6
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

In [35]:
r = 8
for i in range(1,r+1):
    for j in range(1,i+1):
        print(j,end="")
    print()

1
12
123
1234
12345
123456
1234567
12345678

In [36]:
n= int(input())
m = int(input())
for i in range(0,n+1):
    for y in range(m-i,0,-1):
        print("_",end=" ")
    print()

2
3
_ _ _
_ _
_

In [40]:
n=5
for i in range(1,n+1):
    for j in range(1,i+1):
        print(j,end=" ")
    print()
for i in range(n,0,-1):
    for y in range(0,i-1):
        print(j,end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
5 5 5 5
5 5 5
5 5
5

In [60]:
n = input("enter a string: ")
digit=0
alpha=0
for i in n:
    if i.isalpha():
        alpha+=1
    elif i.isdigit():
        digit+=1
    else:
        pass
print(digit,"is the number of digit in the input")
print(alpha,"is the number alphabet in the input")

enter a string: shjh37
2 is the number of digit in the input
4 is the number alphabet in the input

# list comprehension

In [63]:
x = ["apple","banana","mango","cherry"]
newlist =[i for i in x if "a" in i]
print(newlist)

['apple', 'banana', 'mango']

In [66]:
newlist = [x**2 for x in range(1,11)]
print(newlist)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# enumarate

In [67]:
for index,value in enumerate(["big","bang","theroy"]):
    print(index,value)

0 big
1 bang
2 theroy

In [69]:
n = ["big","bang","theroy"]
x= enumerate(x)
print(x)
print(list(x))

<enumerate object at 0x10788a1b0>
[(0, (0, 'apple')), (1, (1, 'banana')), (2, (2, 'mango')), (3, (3, 'cherry'))]

In [2]:
x = ["apple","banana","mango","cherry"]
y = ["red ","yellow","orange","purple"]
for x,y in zip(x,y):
    print("fruit is {0} and colour is {1}".format(x,y))

fruit is apple and colour is red
fruit is banana and colour is yellow
fruit is mango and colour is orange
fruit is cherry and colour is purple

In [13]:
n=[67,38,45,29,1,83,82,12,47,38,29,93,74,67,71,34,29]
for i in sorted (n):
    print(i,end=" ")
print("---------------")
for i in sorted (set(n)):
    print(i,end=" ")

1 12 29 29 29 34 38 38 45 47 67 67 71 74 82 83 93 ---------------
1 12 29 34 38 45 47 67 71 74 82 83 93

In [14]:
for i in reversed(n):
    print(i,end=" ")

29 34 71 67 74 93 29 38 47 12 82 83 1 29 45 38 67

# iter()and next()

In [18]:
vowels =["a","e","i","o","u"]
a = iter(vowels)
print(next(a))
print(next(a))
print(next(a))
print(next(a))
print(next(a))

a
e
i
o
u

In [21]:
a = iter(vowels)
for i in a :
    print(i)

a
e
i
o
u

In [44]:
my_dict = {
    "brand": "Bentley",
    "model": "continetal Gt",
    "electric": False,
    "year": 2023
}
print(my_dict)
print(type(my_dict))
print(len(my_dict))

{'brand': 'Bentley', 'model': 'continetal Gt', 'electric': False, 'year': 2023}
<class 'dict'>
4

In [32]:
print(my_dict["brand"])
print(my_dict.get("model")) #using get()method
print(my_dict.keys()) # keys prints all key elements
print(my_dict.items()) # prints corresponding values to the keys respectively
print(my_dict.values()) # prints corresponding values only to the keys respectively

Bentley
continetal Gt
dict_keys(['brand', 'model', 'electric', 'year'])
dict_items([('brand', 'Bentley'), ('model', 'continetal Gt'), ('electric', False), ('year', 2023)])
dict_values(['Bentley', 'continetal Gt', False, 2023])

In [36]:
my_dict["brand"] = "royel enfield"
print(my_dict)

{'brand': 'royel enfield', 'model': 'continetal Gt', 'electric': False, 'year': 2023}

In [40]:
my_dict["colour"]= "coffee Brown"
print(my_dict)
my_dict.update({"year":2020})
print(my_dict)

{'brand': 'royel enfield', 'model': 'continetal Gt', 'electric': False, 'year': 2020, 'colour': 'coffee Brown'}
{'brand': 'royel enfield', 'model': 'continetal Gt', 'electric': False, 'year': 2020, 'colour': 'coffee Brown'}

In [41]:
my_dict.pop("electric")
print(my_dict)

{'brand': 'royel enfield', 'model': 'continetal Gt', 'year': 2020, 'colour': 'coffee Brown'}

In [42]:
my_dict.clear()
print(my_dict)

{}

In [43]:
del my_dict

In [45]:
for i in my_dict:
    print(i)

brand
model
electric
year

In [47]:
for i in my_dict:
    print(i,":",my_dict[i])

brand : Bentley
model : continetal Gt
electric : False
year : 2023

In [48]:
price={"mango":48,"butter":20,"egg":8.0}
for i in sorted(price.keys()):
    print(i,":",price[i])

butter : 20
egg : 8.0
mango : 48

In [51]:
my_family ={
    "child01":{
        "name": "Nikhil",
        "place":"malappuram"
    },
    "child02":{
        "name": "adhil",
        "place":"tirur"
    },
    "child03":{
        "name": "sinan",
        "place":"kondotty"
    }
    
}
print(my_family)

{'child01': {'name': 'Nikhil', 'place': 'malappuram'}, 'child02': {'name': 'adhil', 'place': 'tirur'}, 'child03': {'name': 'sinan', 'place': 'kondotty'}}

# function

In [1]:
def function_name(argument):
    #function body
    return

In [2]:
def greet():
    print("hello world")
greet()

hello world

In [3]:
#function with no argument
def addition():
    num1=3
    num2=5
    sum_=num1+num2
    return sum_
s= addition()
print(s)

8

In [4]:
def addition():
    n=int(input())
    m=int(input())
    sum_=n+m
    return sum_
s= addition()
print(s)

5
100
105

In [9]:
def addition(n=7,m=2):
    sum_=n+m
    return sum_
s= addition()
print(s)
addition(3)

9

5

In [11]:
def calculation(n1,n2):
    add = n1+n2
    sub = n1-n2
    mul  = n1*n2
    return add,sub,mul
a,b,c = calculation(2,5)
print(a,b,c)

7 -3 10

In [13]:
def factorial(x):
    if x==1:
        return 1
    else:
        return(x*factorial(x-1))
factorial(3)

6

In [16]:
def oddeve():
    n=int(input())
    if n%2==0:
        print("even")
    else:
        print("odd")
oddeve()

539
odd

In [18]:
greet = lambda : print("hello world ")
greet()

hello world

In [19]:
import example

x = example.add(4,5)
print(x)

9

# condition statements

In [1]:
a= 30
b=20
print(a) if a>b else print(b)

30

# while loop

In [5]:
i = int(input())
n = int(input())
t =0
while i<=n:
    t = t + i
    i+=1
print(t)

2
3
5

In [6]:
mylist = [2,3,4,7,1]
i =0 
list2 =[]
while i<len(mylist):
    x = mylist[i]**2
    list2.append(x)
    i+=1
print(list2)

[4, 9, 16, 49, 1]

# types of importing

In [8]:
import math as m 
print(m.pi)

3.141592653589793

In [9]:
import math
print(math.pi)

3.141592653589793

In [10]:
from math import *
print(pi)

3.141592653589793

# map function

In [18]:
def doubleven(num):
    if num%2==0:
        return num*2
    else:
        return num
number= [3,5,2,9,4]
result = list(map(doubleven,number))
print(result)

[3, 5, 4, 9, 8]

In [16]:
def square(x):
    return x**2
numbers=[3,5,2,9,4]

r = map(square,numbers)
m =list(r)
print(m)

[9, 25, 4, 81, 16]

In [22]:
c =["1","2","3"]
i = list(map(int,c))
print(i)
print(type(i))

[1, 2, 3]
<class 'list'>

In [26]:
c =[1,2,3,-4,9,-1]
i = list(map(abs,c))
print(i)

[1, 2, 3, 4, 9, 1]