In [1]:
x = 4
y = 2.65
z = "hello"
print(x,y,z)
print(type(x),type(y),type(z))

4 2.65 hello
<class 'int'> <class 'float'> <class 'str'>

# type_casting

In [6]:
a = float(x)
b = int(y)
print(type(a),type(b))

<class 'float'> <class 'int'>

## commenting

In [7]:
# hello

In [10]:
'''a = float(x)
b = int(y)
print(type(a),type(b)) '''

'a = float(x)\nb = int(y)\nprint(type(a),type(b))'

# user Input

In [13]:
x= input("enter your name")
y=int (input("enter your age"))
print("my name is " + x+ " and my age is",y)

enter your namenikhil
enter your age21
my name is nikhil and my age is 21

In [1]:
x="nikhil james"
y=len(x)
print(y)

12

# STRING SLICING

In [2]:
#negative indexing
A=x[-2]
print(A)

e

**NOTE:**
string[start:end:step]

In [6]:
x="nikhil james"
A=x[0:12:3]
print(A)

nh m

In [7]:
a=x[::-1]
print(a)

semaj lihkin

In [8]:
b=x[:2]
c=x[7:]
print(b,c)

ni james

# CONCATENATION

In [11]:
A="Nikhil"
B="James"
print(A+" "+B)

Nikhil James

string methods

In [14]:
y="abc".isalpha()
print(y)

True

In [17]:
my_string="apple,banana,cherry"
fruits =my_string.split(",")
print(fruits)
fruitsnew=" ".join(fruits)
print(fruitsnew)

['apple', 'banana', 'cherry']
apple banana cherry